.cheatcode-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #ede4f1;
  background-image: url("../assets/images/CheatCodeBorder.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.cheatcode-title {
  margin-bottom: 1rem;
  font-size: 18px;
  text-align: center;
}

.dpad-grid {
  display: grid;
  grid-template-columns: repeat(3, min(18vw, 80px));
  grid-template-rows: repeat(3, min(12vh, 80px));
  gap: 1.2vh;
  justify-content: center;
  align-items: center;
}


.dpad-button {
  padding: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dpad-button img {
  width: 100%;
  height: auto;
}
