body {
  text-align: center;
  font-family: "Audiowide", sans-serif;
}
.home-info-card {
  border: 0.2vw solid #ede4f1;
  border-radius: 15px;
  color: #ede4f1;
  padding: 0;
}
.home-info-card-title-special{
  font-size: 3rem;
  text-align: center;
  color:#73EEDC;
  margin-top: 4vh;
  margin-left: 1vw;
  margin-right: 1vw;
}
.home-info-card-description {
  text-align: center;
  color: #ede4f1;
  margin: 2vh 1vw;
}
