.nav-links {
  font-family: "Audiowide", sans-serif;
  text-decoration: none;
  font-size: 20px;
  color: #EDE4F1;
}

.profileIcon {
  width: 10vh;
  height: 10vh;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 5px solid #EDE4F1;
}

.navContainer {
  background-color: #171123;
}

.nav-links.active{
  color: #73EEDC;
  text-decoration: underline;
  text-underline-offset: 8px;
}