.profile-username {
  font-size: 3.5rem;
  color: #73eedc;
}
.profile-username-spacing {
  height: 15vh;
}

.profile-comms-heading {
  margin-top: 1vh;
  font-size: 1.5rem;
  color: #ede4f1;
}

@media (max-width: 991.98px) {
  .profile-username {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5vh;
    white-space: nowrap; /* force one line */
    overflow: hidden; /* hide overflow */
    text-overflow: ellipsis; /* ... if too long */
  }
}
